{% extends 'base.html' %}

{% block content %}
<div class="container">

<form>
    <div class="mb-3">
        <label class="form-label"> Enrollment Number </label>
        <input type="text" class="form-control" name="searchEnroll"/>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div class="row">
    {% for i in student %}
    <div class="col">
        <h2> {{ i.name }} </h2>
        <p> {{ i.roll }} </p>
        <a href="">
            <p> {{ i.enroll }}</p>
        </a>
        <img src="{{ i.image.url }}" width="200" height="200"/>
        <p> {{ i.email }} </p>
        {% if i.url %}
        <p>
            <a href="{{ i.url }}"> {{ i.url }} </a>
        </p>
        {% endif %}
        <p> {{ i.desc }} </p>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}